@import '../../../styles/variables';

.spinner {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 0.4rem solid $color-grey-light-3;
  border-top-color: $color-primary;

  animation: loading 1s ease infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
