@import '../../../styles/variables';

.notification {
  cursor: pointer;

  height: 100%;
  padding: 0.8rem 1.2rem;

  display: flex;
  align-items: center;

  transition: background-color 0.2s;

  &:hover {
    background-color: $color-grey-light-2;
  }

  position: relative;

  &__count {
    color: $color-white;
    font-size: 1rem;

    width: 2.4rem;
    height: 2rem;
    border-radius: 100px;

    background-color: $color-primary;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
  }

  &__icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: $color-grey-dark-1;
  }
}
