@import '../../../styles/variables';

.file {
  width: 52rem;
  border-radius: 8px;
  padding: 1.2rem;
  padding-top: 4.8rem;

  background-color: $color-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__close {
    height: 2.8rem;
    width: 2.8rem;

    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
  }

  &__control {
    height: 4.2rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 0.4rem;

    background-color: $color-white;
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__files {
    list-style: none;
    overflow-y: scroll;

    font-size: 1.4rem;

    width: 100%;
    height: 24.4rem;
    border-radius: 2px;
    margin-bottom: 6.2rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__file {
    cursor: pointer;

    width: 100%;
    padding: 1.8rem 0;

    display: flex;
    align-items: center;

    border-bottom: 1px solid $color-grey-light-3;
  }

  &__indicator {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 0.8rem;
  }

  &__action {
    height: 2.4rem;
    width: 2.4rem;
    margin-left: auto;
  }
}
