// COLORS
// $color-primary: #0d9488;
$color-primary: #0063bf;
$color-secondary: #ffbb00;
// $color-tertiary: #ff585f;
$color-tertiary: #fe0000;

$color-primary-light: #0d8aff;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #444;

$color-white: #fff;
$color-black: #000;

// MEASUREMENT
$gap-1: 0.4rem;
$gap-2: 0.6rem;
$gap-3: 0.8rem;
$gap-4: 1rem;
$gap-5: 1.2rem;
$gap-6: 2.4rem;

// BREAK POINTS
$bp-tiny: 400px;
$bp-small: 800px;
$bp-medium: 1200px;
$bp-large: 1800px;
