@import '../../../styles/variables';

.information {
  width: 100%;

  background-color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;

  &__message {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &__icon {
    flex-shrink: 0;

    height: 4.8rem;
    width: 4.8rem;
    fill: $color-secondary;

    margin-right: 1.2rem;
  }
}
